<h1>About Technopedia</h1>

<h3> Project deals with updates on Technology as the name itself reveals that this is a TechnologyEncyclopedia which is termed as Technopedia</h3>
<h3>Name : Ganapathymanikandan K</h3>
<h3>Role: Software Engineer</h3>
<h3>First Ruby on Rails Web Application</h3>